target
node_modules
dist
**/*.node
/npm/*/index.js
/npm/corsa_bind_node/ts/*.d.ts
/npm/corsa_bind_node/ts/*.js
/npm/corsa_bind_node/ts/*.js.map

/ref/tsgo-rs-upstream/
/ref/corsa-bind-upstream/
/ref/typescript-go/
.DS_Store
.cache
