target
node_modules
dist
**/*.node
/npm/*/index.js
/npm/corsa_bind_node/ts/*.d.ts
/npm/corsa_bind_node/ts/*.js
/npm/corsa_bind_node/ts/*.js.map

/origin/tsgo-rs-upstream/
/origin/corsa-bind-upstream/
/origin/typescript-go/
.DS_Store
.cache
